---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Site</title>
	</head>
	<body>
		<h1>About Me</h1>
        <h2>... and the stuff I build</h2>
        <p>I am working on this actually very nice tutorial.</p>
        <p>Hopefully this will update as I go :)</p>
	</body>
</html>
